In [1]:
PGHOST="localhost"
PGDATABASE="aact"
PGUSER="postgres"
PGPASSWORD="postgres"

In [2]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import pickle as pkl

In [3]:
conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
+" password="+ PGPASSWORD

In [4]:
conn=psycopg2.connect(conn_string)

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute("select * from ctgov.studies;")

In [7]:
def load_data(schema, table):

    
    sql_command = "SELECT * FROM {};".format(str(table))
    print (sql_command)

    # Load the data
    
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    return (data)

In [8]:
import os, sys, re, pandas as pd, numpy as np

In [9]:
pd_phase = pd.read_sql("select nct_id, phase from ctgov.studies", conn)

/media/thomas/642d0db5-2c98-4156-b591-1a3572c5868c/anaconda3/envs/py310/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
pd_phase.set_index("nct_id", inplace=True)

In [11]:
pd_phase

                       phase
nct_id
NCT02262806          Phase 2
NCT02261909             None
NCT03185507          Phase 1
NCT04086134   Not Applicable
NCT02260362             None
...                      ...
NCT04086290  Phase 1/Phase 2
NCT04086264  Phase 1/Phase 2
NCT04086251   Not Applicable
NCT02263274   Not Applicable
NCT02262832          Phase 3

[432597 rows x 1 columns]

In [14]:
pd_phase.value_counts()

phase
Not Applicable     153118
Phase 2             52857
Phase 1             38739
Phase 3             35610
Phase 4             30183
Phase 1/Phase 2     13225
Phase 2/Phase 3      6286
Early Phase 1        4349
dtype: int64

In [15]:
pd_phase.to_csv("annotations/phase.csv")