In [2]:
PGHOST="localhost"
PGDATABASE="aact"
PGUSER="postgres"
PGPASSWORD="postgres"

In [3]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import pickle as pkl

In [4]:
conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
+" password="+ PGPASSWORD

In [5]:
conn=psycopg2.connect(conn_string)

In [6]:
cursor = conn.cursor()

In [7]:
cursor.execute("select * from ctgov.studies;")

In [8]:
def load_data(schema, table):

    
    sql_command = "SELECT * FROM {};".format(str(table))
    print (sql_command)

    # Load the data
    
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    return (data)

In [9]:
import os, sys, re, pandas as pd, numpy as np

In [11]:
pd_arms = pd.read_sql("select nct_id, number_of_arms from ctgov.studies", conn)

In [12]:
pd_arms.set_index("nct_id", inplace=True)

In [13]:
pd_arms

             number_of_arms
nct_id
NCT02262806             1.0
NCT02261909             NaN
NCT03185507             2.0
NCT04086134             3.0
NCT02260362             NaN
...                     ...
NCT04086290             1.0
NCT04086264             4.0
NCT04086251             1.0
NCT02263274             1.0
NCT02262832             1.0

[432597 rows x 1 columns]

In [15]:
pd_arms.value_counts()

number_of_arms
2.0               169342
1.0                79096
3.0                34036
4.0                16545
5.0                 4180
6.0                 3432
8.0                 1029
7.0                  984
9.0                  493
10.0                 381
12.0                 252
11.0                 167
16.0                 105
14.0                  93
13.0                  81
15.0                  68
18.0                  46
17.0                  32
20.0                  22
19.0                  16
24.0                  15
32.0                  15
22.0                  10
21.0                   8
23.0                   7
27.0                   6
28.0                   5
30.0                   4
25.0                   3
26.0                   3
38.0                   2
40.0                   2
29.0                   2
34.0                   1
33.0                   1
31.0                   1
44.0                   1
dtype: int64

In [14]:
pd_arms.to_csv("annotations/num_arms.csv")